<div class="container">
<div class="row">
 <aside class="col-md-4">
   <%= form_for([:admins, @notification]) do |f| %>
     <div class="form-group">
       <%= f.label :title, "タイトル" %>
       <%= f.text_field :title ,class: "form-control" %>
     </div>
     <div class="form-group">
       <%= f.label :content, "コンテンツ" %>
       <%= f.text_area :content, class: 'form-control', rows: 5 %>
     </div>
     <%= f.submit '送信', class: 'btn btn-primary btn-block' %>
   <% end %>
 </aside>
 <div class="col-xs-8">
   <%= render 'admins/notifications/notifications', notifications: @notifications %>
 </div>
</div>
</div>
