マッチング一覧
<% if @permiters.any? %>
  <% @permiters.each do |teacher| %>
  <div class="panel panel-default">
    <div class="panel-heading text-center">
      *プロフィール画像が入る
    </div>
    <div class="mannaka">
      <div class="panel-body">
      <%= link_to "#{teacher.name}", teachers_teacher_path(teacher) %><br>
      <% if @messages.any? %>
        <% @messages.each do |message| %>
          <%= message.message %><br>
          <%= message.created_at.strftime("%m-%d %H:%M") %><br>
        <% end %>
      <% end %>

      <%= form_for(@message) do |f| %>
        <%= f.hidden_field :teacher_id, :value=>  teacher.id %>
        <%= f.text_field :message %>
        <%= f.submit "送信" %>
      <% end %>
      <!--
      <%# if @isRoom == true %>
        <p><a href="/rooms/<%#= @roomId %>">チャットへ</a>
      <%# else %>
      <%#= form_for(current_student.rooms.build) do |f| %>
        <%#= f.hidden_field :teacher_id, :value=> teacher.id %>
        <%#= f.submit "チャットを始める" %>
     <%# end %>
     -->
     <%# end %>



<%= link_to "一覧に戻る", root_path %>


      </div>


    </div>
  </div>



  <% end %>
<% end %>
