<div class="row">
  <div class="admin-user">
   <div class="col-md-8 col-md-offset-2">
     <div class="panel panel-default">
       <div class="panel-heading text-center">
         *プロフィール画像が入る
       </div>
       <div class="mannaka">
        <div class="panel-body">
         氏名：<%= @teacher.name %><br>
         メールアドレス：<%= @teacher.email %><br>
         登録日時：<%= @teacher.created_at %><br>
         <% if current_teacher %>
         電話番号：<%= @teacher.contact.phonenumber %><br>
         メールアドレス(pc)：<%= @teacher.contact.mailaddress1 %><br>
         メールアドレス２：<%= @teacher.contact.mailaddress2 %><br>
         郵便番号：<%= @teacher.address.zip %><br>
         都道府県：<%= @teacher.address.pref %><br>
         市区町村：<%= @teacher.address.city %><br>
         それ以下：<%= @teacher.address.addr %><br>
         出身国：<%= @teacher.personalinfo.national %><br>
         性別：<% if @teacher.personalinfo.sex == 1 %>
                男
              <% elsif @teacher.personalinfo.sex == 2 %>
                女
              <% else %>
                おかま
              <% end %><br>
         誕生日：<%= @teacher.personalinfo.birthday %><br>

         都道府県：<%= @teacher.prefecture.name %><br>
         沿線：<%= @teacher.station_line.name %>
         駅：<%= @teacher.station.name %>
         <% end %>
       </div>

       <div>
        <% if current_student  %>
         <% if current_student.billing %>
          課金しているためこの情報を見ることができています。
         <% else %>
          ここから先は有料会員です。
         <% end %>
        <% elsif current_teacher %>
          有料ページ
        <% end %>
       </div>
     </div>
   </div>
  </div>
 </div>
</div>
