<div class="row">
  <div class="admin-user">
   <div class="col-md-8 col-md-offset-2">
     <div class="panel panel-default">
       <div class="panel-heading text-center">
         *プロフィール画像が入る
       </div>
       <div class="mannaka">
        <div class="panel-body">
         氏名：<%= @teacher.name %>
         メールアドレス：<%= @teacher.email %>
         登録日時：<%= @teacher.created_at %>
         郵便番号：<%= @teacher.zip %>
         都道府県：<%= @teacher.pref %>
         市区町村<%= @teacher.addr %>
       </div>
     </div>
   </div>
  </div>
 </div>
</div>
