<div class="row">
  <%= search_form_for(@q, url: searches_path) do |f| %>
  <div class="col-md-6 col-md-offset-3">
   <div class="sidemenu-panel">
     <div class="panel panel-default">
      <div class="panel-heading">
        検索
      </div>
      <div class="panel-body">
        <%= f.text_field :name_cont, class: "form-control", placeholder: "【名前】" %>
      </div>
      <div class="actions">
        <%= f.submit "検索" %>
      </div>
    </div>
  </div>
 </div>
 </div>
 <% end %>
 <div class="row">
   <div class="col-md-12">
     <%= render "layouts/teachers", teachers: @teachers %>
   </div>
 </div>

 <%= render "searches/area", prefectures: @prefectures %>
