<div class="left-button">
  <%= link_to "マッチング一覧に戻る", permiters_student_path(current_student), class: "edit-link" %>
</div>

<h4 class="rooms-title">マッチング中</h4>
<% @rooms.each do |r| %>
  <div class="student-name">
    <strong>
      顔画像
      <a class="rooms-teacher-link" href="/teachers/teachers/<%= r.teacher_id%>"></a>
      <%= t.teacher_id %>さん
    </strong>
  </div>
<% end %>
<hr>
<div class="chats">
  <div class="chat">
  <% if @messages.present? %>
    <% @messages.each do |m| %>
      <div class="chat-box">
        <div class="chat-face">
          顔画像
        </div>
        <div class="chat-hukidashi"> <strong><%= m.content %></strong> <br>
          <%= m.created_at.strftime("%Y-%m-%d %H:%M") %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<div class="posts">
  <%= form_for @message do |f| %>
    <%= f.text_field :content, placeholder: "メッセージを入力してください", size: 70, class: "form-text-field" %>
      <%= f.hidden_field :room_id, value: @room.id %>
        <%= f.submit "投稿", class: "form-submit" %>
  <% end %>
</div>
</div>
