<ul class="media-list">
  <% notifications.each do |notification| %>
    <li class="media">
      <div class="media-body">
        <div>
          <p>タイトル：<%= notification.title %></p>
        </div>
        <span><%= time_ago_in_words(notification.created_at) %>に通知</span>
        <div>
          <p>内容：<%= notification.content %></p>
        </div>
        <div >
          <% if current_admin == notification.admin %>
            <%= link_to "Delete", [:admins, notification], method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate notifications %>
</ul>
