<div class="row">
<header>
  <nav class="navbar navbar-default navbar-static-top">

      <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-left" href="/"><img src="/images/logo.png" alt="Monolist"></a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right" id="dropdowns">
        <% if current_student %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <%= current_student.name%>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
               <%= link_to 'マイページ', student_path(current_student)%>
              </li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "ログアウト", destroy_student_session_path, method: :delete %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-bell"></i>
              <span class="caret"></span>

            </a>
            <ul class="dropdown-menu">
              <%= render "toppages/news", notifications: @notifications %>
            </ul>
          </li>
          <li><%= link_to 'マイページ', student_path(current_student)%>
          </li>
          <li><%= link_to "ログアウト", destroy_student_session_path, method: :delete %>
          </li>
          <li>
          <% if current_student.billing %>
            <li><%= link_to permiters_student_path(current_student) do %>
                <i class="far fa-comment-dots"></i>
                <% end %>
            </li>
            <li><%= link_to requestings_student_path(current_student) do %>
                <i class="fas fa-user"></i>
                <% end %>
            </li>

          <% end %>
        <% else %>
          <li><%= link_to "新規登録", new_student_registration_path %></li>
          <li><%= link_to "ログイン", new_student_session_path %></li>
        <% end %>
          <li><%= link_to "Teachers click here！", teachers_root_path %></li>
      </ul>
      </div>
    <nav id="global_navi">
      <ul class="nav">
        <li class="current"><a href="/">HOME</a></li>
        <li><a href="#">サービス説明</a>
        <ul class="child">
          <li><a href="#">サービスの仕組み</a></li>
          <li><a href="#">サービスの内容</a></li>
        </ul>
        </li>
        <li><a href="#">利用ガイド</a>
        <ul class="child">
          <li><a href="#">利用ガイドの説明</a></li>
          <li><a href="#">利用ガイドの詳細</a></li>
        </ul>
        </li>
        <li><a href="#">料金</a>
        <ul class="child">
          <li><a href="#">振込方法</a></li>
          <li><a href="#">返金について</a></li>
        </ul>
        </li>
        <li><a href="#">よくある質問と回答</a>
        <ul class="child">
          <li><a href="#">よくある質問</a></li>
          <li><a href="#">質問と答えまとめ</a></li>
        </ul>
        </li>
        <li><a href="#">お問い合わせ</a>
        <ul class="child">
          <li><a href="#">メール</a></li>
          <li><a href="#">SNS</a></li>
        </ul>
        </li>
      </ul>
      <!--
      <script type="text/javascript">
        $(function() {
          var nav = $('.nav');
          $('li', nav)
           .mouseover(function(e) {
            $('ul:not(:animated)', this).stop().slideDown('fast');
            })
             .mouseout(function(e) {
             $('ul.child', this).stop().slideUp('fast');
          });
        });
      </script>
      -->

    </nav>
  </nav>
</header>
</div>
