<div class="row">
<header>
  <nav class="navbar navbar-default navbar-static-top">
      <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-left" href="/teachers"><img src="/images/logo.png" alt="Monolist"></a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if current_teacher %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <%= current_teacher.name%>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to 'マイページ', teachers_teacher_path(current_teacher)%>
              </li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "ログアウト", destroy_teacher_session_path, method: :delete %></li>
            </ul>
          </li>
          <li>
            <%= link_to permits_teachers_teacher_path(current_teacher) do %>
              <i class="far fa-comment-dots"></i>
            <% end %>
          </li>
          <li>
              <%= link_to requesters_teachers_teacher_path(current_teacher) do %>
                <i class="fas fa-bell"></i>

              <% end %>
          </li>
        <% else %>
          <li><%= link_to "Join us", new_teacher_registration_path %></li>
          <li><%= link_to "login", new_teacher_session_path %></li>
        <% end %>
        <li><%= link_to "生徒はこちらをクリック！", root_path %></li>

      </ul>
      </div>
    <nav id="global_navi">
      <ul>
        <li class="current"><a href="/">HOME</a></li>
        <li><a href="#">About services</a></li>
        <li><a href="#">User Guide</a></li>
        <li><a href="#">Price List</a></li>
        <li><a href="#">FAG</a></li>
        <li><a href="#">Inquiry</a></li>
      </ul>
    </nav>
  </nav>
</header>
</div>
