<!DOCTYPE html>
<html>
  <head>
    <title>Enjoylesson</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <% if current_page?("/") %>
     <%= render 'layouts/navbar' %>
    <% elsif current_page?("/teachernavbar") %>
     <%= render "layouts/teachersnavbar" %>
    <% elsif current_page?("/admins") %>
     <%= render "layouts/adminsnavbar" %>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
      <%= yield :cover %>

      <%= yield %>

    <%= render 'layouts/footer' %>
  </body>
</html>
