<!DOCTYPE html>
<html>
  <head>
    <title>EnjoyEigo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render "layouts/stationdata" %>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="bmesse.css" />
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
    <script src="https://express.heartrails.com/api/express.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  </head>

  <body>
   <div class="container" id="container">
   <%= render 'layouts/navbar' %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
      <%= yield :cover %>


      <%= yield %>
    <p id="toPageTop"><a href="#container"><img src="images/toppage.png" height="25" width="100"></a></p>
    <%= render 'layouts/footer' %>
    <script>
      var add_link = function() {
        var link = document.createElement('link');
        link.rel = 'stylesheet';
        link.href = "https://use.fontawesome.com/releases/v5.8.2/css/all.css";
        link.crossorigin = "anonymous";
        document.head.appendChild(link);
      };
      var raf = window.requestAnimationFrame || window.mozRequestAnimationFrame ||
        window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
      if (raf) raf(function() { window.setTimeout(add_link, 0); });
      else window.addEventListener('load', add_link);
    </script>
    </div>
  </body>
</html>
