<!DOCTYPE html>
<html>
  <head>
    <title>Enjoylesson</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render "layouts/stationdata" %>
    <script type="text/javascript" src="https://ajaxzip3.github.io/ajaxzip3.js" charset="utf-8"></script>
    <script type="text/javascript" src="http://express.heartrails.com/api/express.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>

  <body onload="HRELoadPrefecture('prefecture', 'line', 'station');">
    <div class="container">
    <%= render 'layouts/navbar' %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
      <%= yield :cover %>

      <%= yield %>


    <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
